* {
	font-family: "Fira Code", monospace;
}
nav {
	background-color: darkblue;
	font-size: 1.2em;
}
li a.nav-link {
	color: white !important;
}
li a.nav-link:hover {
	background-color: aqua;
	color: black !important;
}
body {
	background: #007bff;
	background: linear-gradient(to right, #0062e6, #33aeff);
}
#toast-container {
	z-index: 10;
}
